extends layout

block content

  each course, i in courses
    h5= course.name
    p Course is active? #{course.active}
    p Last fetched: #{course.lastFetched}
    p Last changed: #{course.lastChanged}
    form(action="/api/courses/refreshGrade", method="get")
      div
        input(type="hidden", name="username" value=course.username)
        input(type="hidden", name="courseId" value=course.courseId)
      button(type="submit") Get grades

    form(action="/toggle-state", method="post")
      div
        input(type="hidden", name="courseId" value=course.courseId)
      button(type="submit") Toggle course

    if course.active
      | !{course.grades}
