doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/style.css')
    link(rel='stylesheet', href='/public/culearn.css')
  body
    h1 CuLearn Scraper
    //a(href='/') index page </br>

    form(action="/api/students/login", method="post")
      div
        input(type="hidden", name="username" value=courses[0].username)
      button(type="submit") Login

    //all not working
    //a(href='/courses') login and refresh </br>
    //a(href='/courses/fetch-courses') fetch courses </br>
    //a(href='/courses/course-keyword-activate') activate winter 2017 courses</br>
    //a(href='/courses/fetch-all-grades') fetch all grades </br>
    //a(href='/courses/clear-database') clear database </br>
    //a(href='/courses/switch-kayla') switch to kayla </br>
    //a(href='/courses/switch-jibbs') switch to jibbs </br>
    block content
